name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
    - uses: actions/checkout@v6
    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '20'
    - name: Install dependencies
      run: npm install
    - name: Build project
      run: npm run build
    - name: Upload production-ready assets
      uses: actions/upload-artifact@v4
      with:
        name: dist-public
        path: dist
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    needs: build
    steps:
    - uses: actions/checkout@v6
    - name: Download production-ready assets
      uses: actions/download-artifact@v4
      with:
        name: dist-public
        path: dist
    - name: Deploy
      env:
        CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
        NODE_ENV: production
      run: |
        npm install -g wrangler@latest && \
        npx wrangler deploy
      
